:root{
    --primary: #560bad;
    --primary-hover: #471085;
    --secondary: #f72585;
    --secondary-hover: #c51464;
    --bg-base: #ebe5f1;
    --base-font: 1rem;
    --title-font: 1.25rem;
}
*{
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
}
body{
    font-family: Roboto;
    font-weight: 300;
    background-color: var(--bg-base);
    font-size: 16px;
}
.page-wrapper{
    display: flex;
    height: 100vh;
    align-items: center;
}
#calculator{
    background-color: #fff;
    display: block;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 .5rem #570cad13;
    border-radius: 1rem;
}
#calculator header{
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 1rem 1rem 0 0;
    color: #fff;
    text-align: right;
    height: 95px;
}
#current{
    font-size: 2rem;
    font-weight: 500;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    row-gap: 3px;
    column-gap: 3px;
}
#keys button{
    padding: 2rem 1rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    transition: .25s ease-in-out;
}
#keys .operator{
    background-color: var(--secondary);
    color: #fff;
    font-size: 1.5rem;
}
#keys .operator:last-of-type{
    border-bottom-right-radius: 1rem;
}
#keys .operator:hover{
    background-color: var(--secondary-hover);
}
#keys .numbers:hover, #keys .clear:hover, #keys .clear_all:hover{
    background: #e9e9e9;
}
#keys .clear_all{
    grid-column: 1/3;
}
#keys .clear{
    grid-column: 3/5;
}